/* ---------- CSS Reset -------------*/

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

[class*=grid-], [class*=grid_], [class~=grid]{
 margin: 0;
}

/*----------- Universal Styles -------*/
/*----------- eg padding on your selections, utility classes, etc -------*/

.logo {
  font-size: 2rem;
  color: white;
}

.face img{
  max-height: 20vh;
  border-radius: 50px;
}

.face {
  padding: 2%
}


title {
  padding-top: 5%
}

footer, .testimonial {
  padding:5%;
}

.banner {
  padding-bottom: 2%;
}

section {
  min-height: 30vh
}

.about {
  text-align: center;
  padding-top: 10vh;
  padding-left: 20%;
  padding-right: 20%;
 }

.navbar {
  text-align: right;

}

.navbar span:hover { border-bottom:3px solid #282828;
padding-bottom: 15px;
}

/*----------- Typography -------*/

body {
font-family: 'Open Sans', sans-serif;
}
.scrollcheck {
  transition: 0.5s;
}

.headerfixed {
position: fixed;
    background-color: white;
    /* color: black; */
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
  }

  .headerfixed a, .headerfixed span {
    color: #282828;
  }

h1, h2, h3, h4, p {
text-align: center;
}

.recent p, .popular p{
  text-align: Left;
  color: black;
  padding: .5%;
  display: block;
}

.recent a, .popular a {
  display: block;
  padding: 0;
}

h1 {
  font-size: 4rem;
  color: white;
  padding-top: 20vh;
}

h2 {
  font-size: 2rem;
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
}

h3 {
  font-size: 1.5rem;
  color: white;
  padding-bottom: 6%;
}

.center {
  text-align: center;
  }

.signupsm {
  padding-left: 35%;
  padding-right: 35%;
}

.login {
  padding-left: 35%;
  padding-right: 35%;
  background-color: #282828;
}
.login-button {
  color: white
}

.login-buttondd {
  color: #282828
}

h2.signup {
  padding-left: 20%;
  padding-right: 20%;
}

.stat {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.name .stat {
    text-decoration: underline;
}

.statname {
  color: white;
  font-size: 1.5rem;
}

.statdesc {
  color: white;
}

.statdes {
  color: white;
  font-size: 1.5rem;
}

.headteam {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
}

p.a {
    font-size: 20px;
}

a {
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  display: inline-block;
}

.listing{
background-color: #fcfaf4;
width: 70%;
text-align: left;
}

.zoom {
  min-height: 18vh;
overflow: hidden;
}

.zoom div{
  transition: 2s;
}

.zoom:hover div {
  transform: scale(1.2);

}

.smore {
  color: #282828;
  text-align: center;

}

.bump-up {
  margin-top: -2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right:1rem;
  padding-left: 1rem;
  z-index:2;
  position: relative;
  background-color: white;
  border: 1px solid #282828;
    border-radius:3px;

}

/* - - - - - Insert logo image - - - */

/* - - - - - Insert nav bar links  - - - */

/* - - - - - Insert search fields  - - - */

/* - - - - -- Search bar  . . . . . .. . . */

.search {
  width: 100%;
  text-align: center;
  background-color: #0f040461;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius:3px;
}

/*----------- Banner and background images -------*/

header {
  position: relative;
}

header a {
  padding: 15px;
  font-size: 1rem;
  text-decoration: none;
}

header .navbar {
padding-top: 1.5%;
padding-right: 5%;
}

.navbar img{
position: absolute;
top: 15px;
left: 15px;
max-width: 200px;
background-size: cover;
}

header, .bg-image, .bg-image2 {
background-image: url('images/hitch.jpg');
background-size: cover;
background-position: center;
min-height: 50vh;
background-attachment: fixed;
}

.bg-house, .bg-house1, .bg-house2, .bg-house3, .bg-house4, .bg-house5, .bg-house6, .bg-map, .bg-image3, .bg-image4, .bg-image5, .bg-signup, .bg-login {
background-size: cover;
background-position: center;
min-height: 12vh;
padding: 12vh 5%;
}

.bg-nick, .bg-bob, .bg-jane {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.bg-nick {
  background-image: url('images/nick.jpg');
  padding-bottom: 85%;
  margin: 2% 7.5%
}

.bg-bob {
  background-image: url('images/bob.jpg');
  padding-bottom: 85%;
  margin: 2% 7.5%
}

.bg-jane {
  background-image: url('images/jane.jpg');
  padding-bottom: 85%;
  margin: 2% 7.5%
}

.subscribe {
  -webkit-filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
}

.map {
  background-size: cover;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
}

.footnav {
  text-align: center;
  bottom: 0px;
  Padding: 0;
}

.footsoc {
  text-align: center;
  bottom: 0px;
  Padding: 0;
}

.bg-image2 {
background-image: url('images/hitch2.jpg');
padding: 30vh 5%;
}

.bg-image3{
background-image: url('images/balloon.jpg');
padding: 30vh 5%;
}

.bg-image5{
background-image: url('images/inside.jpg');
padding:  5%;
}

.intimg {
  background-color: white;
  min-height: 35vh;
  border-radius: 10%;
}

.intnum {
  color: Black;
  padding-top: 10%;
  font-size: 2.5rem;
}

.inttit {
  color: Black;
  padding-top: 2%;
  font-size: 1.5rem;
}

.intdesc {
  color: Black;
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1rem;
}


.bg-image4{
background-image: url('images/map3.jpg');
padding: 15vh 5%;
}

.angle {
padding-top: 30vw;
margin-top: -30vw;
margin-bottom: -20vw;
padding-bottom: 20vw;
}

.bg-image4 h2 {
color: white;
}

.bg-map {
background-image: url('images/map.jpg');
padding: 30vh 5%;
}

.bg-house {
background-image: url('images/house.jpg');
}

.bg-house1 {
background-image: url('images/house1.jpg');
}

.bg-house2 {
background-image: url('images/house2.jpg');
}

.bg-house3 {
background-image: url('images/house3.jpg');
}

.bg-house4 {
background-image: url('images/house4.jpg');
}

.bg-house5 {
background-image: url('images/inside.jpg');
}

.bg-house6 {
background-image: url('images/house6.jpg');
}

.bg-signup {
background-image: url('images/house7.jpg');
}

header.signup, section.signup  {
  background-attachment: fixed;
  background-image: url(/images/house7.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
}

.signup {
  background-color: white;
  width: 70%;
  margin: 0 auto;
}

form p {
  padding:1%;
}

.padded {
  padding: 3%;
}


.login {
  position: fixed;
  background-color: rgba(40, 40, 40, 0.5019607843137255);
  background-size: cover;
  background-position: center;
  margin: 0;
  z-index: 99999;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: none;
}


footer {
  background-color: #282828;
  position: relative;
  height: 25vh;
}

/* - - - - -  footer form  - - - - - - */

/* body {background-color: black;} */
.bottom {
stroke: #fff;
fill: #fff;
}

.relative{
position: relative;
}

iframe .mask{
  height:50vw;
  position:relative;
  background-color: red;
}

iframe {
  width: 100%;
}

div .mask{
  height:50vw;
  position:relative;
  background-color: red;
}
svg{
  position:absolute;
  bottom:0;
  width:100%;
  left:0;
}

.clip-svg {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.top{
    top: 0;
}

.bottom{
    bottom:0;
}
polygon{
  fill:white;
  stroke:white;
  stroke-width:.1;
}

.imgmap polygon {
  fill:#fcfaf4;
  stroke:#fcfaf4;
  stroke-width:.1;
}

/* - - - -  Pop up gallery */
.popup-gallery a.pop-up-full-button {
    position: absolute;
    /* background-color: rgba(90,90,90,0.5); */
   top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5
  }

section .popup-gallery {
    min-height: 15vh;
}

  .popup-gallery a {
    padding: 0;
  }

  .listing h3 {
    color: black;
  }

  .bg-70 {
    min-height: 70vh;
  }

/*.top {
  min-width: 10%;
  padding: 2%;
  Margin: 10px;
  border-radius:2px;
  border: 1px solid #282828;
}*/

input[type="submit"] {
  background-color: #282828;
  color: white;
  background-size: auto;
  min-width: 10%;
  padding: 2%;
  Margin: 10px;
  border-radius:2px;
  border: none;
}

/* JQuery - - - - - - -  */

.mobshow {
  display:none;
}

@media (max-width:576px) {
  .mobshow {
    display:block;
  }
  .mobhide {
    display: none;
  }
}

.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 25px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: #282828;
  background-color:#383;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: 02px;
}

.burger-bottom{
  bottom: 02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
  transform: rotateZ(27000deg);
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background-color: white;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}

.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #282828;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}

.form {
  border-bottom:3px solid #282828;
}

.loginform {
  background-color: white;
}

.lockside{
  position: fixed;
    top: 6rem;
    right: 2rem;
    background-color: #282828;
}

/*  FAQ section - - - - - - - */

.faq {
  padding: 0% 5% 5% 5%;
}

.questions span {
  margin-top: 2%;
}

.questions p, .questions span {
  border:1px solid #282828;
  background-color: white;
  padding: 2%;
  display: block;

}

.questions p {
  padding: 1% 10%;
}

.faq h3 {
padding: 2%;
text-decoration: underline;
}

.faq span{
  font-weight: bold;
}

.dropdown-content, [class*="dropdown-section-content"]  {
  display:  none;
  }


  .flexcenter {
    display:flex;
    align-items: center;
    justify-content: center;
  }
