<footer class="banner grid">

    <svg class="mask top" viewbox="0 0 1200 100" enable-background="new 0 0 1200 100" xml:space="preserve">
       <polygon class="top" points="0,0 600,100 1200,0" />
    </svg>
    <nav class="col-6-spaceBetween-middle footnav">
    <a href="index.html"> Home </a>
    <a href="Why.html"> Why </a>
    <a href="interested.html"> Interested Swapper </a>
  </nav>
  <nav class="col-6-spaceBetween-middle footsoc">
  <a href="http://www.instagram.com"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
  <a href="http://www.facebook.com"> <i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
  <a href="http://www.gmail.com"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
</nav>


</footer>
