<header class="banner" style="background-image:url('{{page.header-image}}')">
  <div class="grid scrollcheck">
      <nav class="col-2 logo">
      <a href="index.html" class="logo"> swapac
        <!-- <img src="images/logo.jpg"> logo if one exists -->
      </a> </nav>

      <nav class="col-10 navbar">
        <a class="hidden" href="dummy.html"></a>
        <a href="interested.html"><span>Interested Swapper </span></a>
        <a href="Why.html"><span>Why </span></a>
        <a href="signup.html"><span> Sign Up </span></a>
        <a href="login.html"><span>Log In </span></a>
</nav>

</div>
    <div>

      <h1> {{page.header}} </h1>
      <h3> {{page.subheader}}  </h3>

    </div>

    </div>

{% if page.searchbar %}
<div class="search center">
    <form class="search-bar">
    <input type="location" placeholder="Search Location" id= "location" >
    <input type="date" placeholder="Check In Date" id= "date" >
    <input type="days" placeholder="Days Stay" id= "days" >
    <select name="Flexible">
        <option value="flexible"> Flexible dates</option>
        <option value="naflexible"> Fixed dates </option>
        </select>
    <input type="submit" value="SUBMIT">
  </div>
    <!-- insert flexibility tab -->

{% endif %}

  </header>
