<!Doctype html>
<html>
<head>
  <!-- - - - - - - - what is this for? - - - - -  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- - - - - - - - what is this for? - - - - -  -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="style.css"/>


  <title> Life of a Swapper </title>
</head>
<body>

  {% include header.html %}




  {{content}}

  {% if page.subscribebar %}

  <section>
    <h2 class="signup"> Sign up and stay informed </h2>
    <p class="signup"> Join the Swapper community and get the latest on listings and Swaps taken.</p>

    <div class="col-middle-center center">
      <div class="formspree">
        <form method="POST" action="http://formspree.io/nickjdellabosca@gmail.com">

        </label> <input type="Firstname" placeholder="First Name" id= "firstname" required>

        <input type="email" name="email" placeholder="Your email" id= "email" > </div>
        <div>  <input type="submit" value="SUBMIT"> </div>
      </section>

      {% endif %}


      {% if page.footer %}
      <footer class="banner grid">

        <svg class="mask top" viewbox="0 0 1200 100" enable-background="new 0 0 1200 100" xml:space="preserve">
          <polygon class="top" points="0,0 600,100 1200,0" />
        </svg>
        <nav class="col-6-spaceBetween-middle footnav">
          <a href="index.html"> Home </a>
          <a href="Why.html"> Why </a>
          <a href="interested.html"> Interested Swapper </a>

          <nav>
            <div class="burger-button mobshow">
              <span class="burger-top"></span>
              <span class="burger-middle"></span>
              <span class="burger-bottom"></span>
            </div>
            <div class="burger-menu">
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="interested.html">Interested Swapper</a>
                </li>
                <li>
                  <a href="Why.html">Why</a>
                </li>
                <li>
                  <a href="signup.html"> Sign Up</a>
                </li>
                <li>
                  <span class="login-button"> login </span>
                </li>
                <ul>
                </div>
              </nav>

            </nav>
            <nav class="col-6-spaceBetween-middle footsoc">
              <a href="http://www.instagram.com"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              <a href="http://www.facebook.com"> <i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
              <a href="http://www.gmail.com"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
            </nav>
            {% endif %}

            <section class="login bg-login">

              <form class="login" action="https://formspree.io/youemail@gmail.com" method="POST">
                <div class="grid loginform">
                  <div class="col-6_sm-12 padded">
                    <label for="name"> Your Name </label>
                    <input type="text" name="name" id="name" placeholder="Name" />

                    <label for="email"> Your Email </label>
                    <input type="email" name="_replyto" id="email" placeholder="Email" />

                    <label for="phone"> Your Phone Number </label>
                    <input type="tel" name="phone" id="phone" placeholder="+(Country Code) Phone Number" />

                    <label for="level"> What's your favourite juice? </label>
                    <select name="level">
                      <option value="pineapple">Pineapple Juice</option>
                      <option value="papaya">Papaya Smoothie</option>
                      <option value="banana"> Bananarama </option>
                    </select>

                  </div> <!-- end col 1 -->
                  <!-- Col 2 -->
                  <div class="col-6_sm-12 padded">

                    <label>  What are you most interested in?  </label>
                    <div class="checkboxes">
                      <p>How to fly<input type="checkbox" name="interests" value="fly" /> </p>
                      <p>How to surf<input type="checkbox" name="interests" value="surf" /> </p>
                      <p>How to code<input type="checkbox" name="interests" value="following" /> </p>
                    </div>

                    <label for="message"> Tell me everything about you... </label>
                    <textarea name="message" id="message" placeholder="Hey I'm Joe and I want to learn to code..."></textarea>

                    <input type="submit" value="Submit" class="button" />
                  </div>
                </form>
                </section>


              </footer>



              <!--  - - - - ADD JQUERY here - - - -  -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

              <script type="text/javascript" src="/accordian.js"></script>

              <script src="/main.js"></script>



            </body>

            </html>
